.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.konvajs-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* 
.main-div {
  background-color: rgb(48, 48, 48);
} */

.box {
  padding: 10px;
  width: 100px;
  height: 100px;
}

.strange-button {
  margin: 10px;
  text-align: center;
}

.text-field-sizes {
  margin: 10px;
}

.react-fine-uploader-gallery-dropzone {
    max-width: 50%;
    left: 25%;
}